<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ken.hunter.dao.RepositoryMapper">
	
	<resultMap type="com.ken.hunter.domain.Supplier" id="supplier">
		<id property="id" column="SUPPLIER_ID"/>
		<result property="sex" column="SEX"/>
		<result property="personInCharge" column="SUPPLIER_PERSON"/>
		<result property="tel" column="SUPPLIER_TEL"/>
		<result property="email" column="SUPPLIER_EMAIL"/>
		<result property="address" column="SUPPLIER_ADDRESS"/>
	</resultMap> 

	<select id="selectAll" resultMap="supplier">
		select
			r.SUPPLIER_ID,
			r.SEX,
			r.SUPPLIER_PERSON,
			r.SUPPLIER_TEL,
			r.SUPPLIER_EMAIL,
			r.SUPPLIER_ADDRESS,
			ra.REPO_ADMIN_NAME
		from
			hunter_supplier r left join hunter_repo_admin ra on(r.SUPPLIER_ID = ra.REPO_ADMIN_REPOID)
	</select>
	
	<select id="selectUnassign" resultMap="supplier">
		select
			r.SUPPLIER_ID,
			r.SEX,
			r.SUPPLIER_PERSON,
			r.SUPPLIER_TEL,
			r.SUPPLIER_EMAIL,
			r.SUPPLIER_ADDRESS
		from
			hunter_supplier r
		where not exists
		(
			select *
			from
				hunter_repo_admin ra
			where
				ra.REPO_ADMIN_REPOID = r.SUPPLIER_ID
		)
	</select>
	
	<select id="selectByID" resultMap="supplier">
		select
			r.SUPPLIER_ID,
			r.SEX,
			r.SUPPLIER_PERSON,
			r.SUPPLIER_TEL,
			r.SUPPLIER_EMAIL,
			r.SUPPLIER_ADDRESS,
			ra.REPO_ADMIN_NAME
		from
			hunter_supplier r left join hunter_repo_admin ra on(r.SUPPLIER_ID = ra.REPO_ADMIN_REPOID)
		where
			r.SUPPLIER_ID = #{repositoryID}
	</select>
	
	<select id="selectByAddress" resultMap="supplier">
		select
			r.SUPPLIER_ID,
			r.SEX,
			r.SUPPLIER_PERSON,
			r.SUPPLIER_TEL,
			r.SUPPLIER_EMAIL,
			r.SUPPLIER_ADDRESS,
			ra.REPO_ADMIN_NAME
		from
			hunter_supplier r left join hunter_repo_admin ra on(r.SUPPLIER_ID = ra.REPO_ADMIN_REPOID)
		where
			r.SUPPLIER_ADDRESS like concat(concat("%",#{address},"%"))
	</select>
</mapper>