<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ken.hunter.dao.StockInMapper">
	
	<resultMap type="com.ken.hunter.domain.StockInDO" id="stockInDO">
		<id property="id" column="ID"/>
		<result property="userId" column="USERID"/>
		<result property="supplierID" column="SUPPLIERID"/>
		<result property="supplierName" column="SUPPLIERNAME"/>
		<result property="sex" column="SEX"/>
		<result property="tel" column="TEL"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
	</resultMap>
	
	<select id="selectAll" resultMap="stockInDO">
		select
			us.ID as ID,
			us.USER_ID as USERID,
			us.SUPPLIER_ID as SUPPLIERID,
			s.SUPPLIER_PERSON as SUPPLIERNAME,
			s.SEX as SEX,
			s.SUPPLIER_TEL as TEL,
			s.SUPPLIER_EMAIL as EMAIL,
			s.SUPPLIER_ADDRESS as ADDRESS
		from
			hunter_user_supplier us,hunter_user u,hunter_supplier s
		where
			us.USER_ID = u.USER_ID and
			us.SUPPLIER_ID = s.SUPPLIER_ID
	</select>
	
	<select id="selectBySupplierId" resultMap="stockInDO">
		select
			us.ID as ID,
			us.USER_ID as USERID,
			us.SUPPLIER_ID as SUPPLIERID,
			s.SUPPLIER_PERSON as SUPPLIERNAME,
			s.SEX as SEX,
			s.SUPPLIER_TEL as TEL,
			s.SUPPLIER_EMAIL as EMAIL,
			s.SUPPLIER_ADDRESS as ADDRESS
		from
			hunter_user_supplier us,hunter_user u,hunter_supplier s
		where
			us.USER_ID = u.USER_ID and
			us.SUPPLIER_ID = s.SUPPLIER_ID and
			us.SUPPLIER_ID = #{supplierID}
	</select>
	
	<select id="selectByUserID" resultMap="stockInDO">
		select
			us.ID as ID,
			us.USER_ID as USERID,
			us.SUPPLIER_ID as SUPPLIERID,
			s.SUPPLIER_PERSON as SUPPLIERNAME,
			s.SEX as SEX,
			s.SUPPLIER_TEL as TEL,
			s.SUPPLIER_EMAIL as EMAIL,
			s.SUPPLIER_ADDRESS as ADDRESS
		from
			hunter_user_supplier us,hunter_user u,hunter_supplier s
		where
			us.USER_ID = u.USER_ID and
			us.SUPPLIER_ID = s.SUPPLIER_ID and
			us.USER_ID = #{userId}
	</select>
	
	<select id="selectByID" resultMap="stockInDO">
		select
			us.ID as ID,
			us.USER_ID as USERID,
			us.SUPPLIER_ID as SUPPLIERID,
			s.SUPPLIER_PERSON as SUPPLIERNAME,
			s.SEX as SEX,
			s.SUPPLIER_TEL as TEL,
			s.SUPPLIER_EMAIL as EMAIL,
			s.SUPPLIER_ADDRESS as ADDRESS
		from
			hunter_user_supplier us,hunter_user u,hunter_supplier s
		where
			us.USER_ID = u.USER_ID and
			us.SUPPLIER_ID = s.SUPPLIER_ID and
			us.ID = #{id}
	</select>
	
	<insert id="insert">
		insert into hunter_user_supplier(ID,USER_ID,SUPPLIER_ID)
		values(#{id},#{userId},#{supplierId})
	</insert>
	
	<delete id="deleteByID">
		delete from hunter_user_supplier
		where ID = #{id}
	</delete>
</mapper>